#数据源配置
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/mybatis?useUnicode=true&characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true
    username: root
    password: 12345678
    driver-class-name: com.mysql.jdbc.Driver

#配置mybatis映射配置文件、核心配置文件的位置以及开启驼峰命名
mybatis:
  mapper-locations: classpath:com/zj/mybatis/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
#  config-location: classpath:mybatis-config.xml

#tomcat端口号
server:
  port: 8080
